Package: com.tigers1m.taptappass
Name: TapTapPass
Depends: mobilesubstrate, libactivator
Version: 1.3.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Bryce Dougherty
Author: Bryce Dougherty
Section: Tweaks
